body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
  font-size: 16px;
}
button {
  cursor: pointer;
}
/*reset*/
ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding-left: 0;
}

/*common*/
.container {
  justify-content: space-between;
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

/*header*/
.hero-container {
  display: flex;
  align-items: center;
}

.hero {
  border-bottom: 1px solid #e7e9fc;
}
.nav {
  display: flex;
  align-items: center;
  background: #fff;
}
.logo {
  margin-right: 76px;
  
 
}
.span-logo {
  color: #2e2f42;
}
.list-hero {
  padding: 24px 0;
  gap: 40px;
  display: flex;
  align-items: center;
}
.con-list {
  gap: 40px;
  display: flex;
  align-items: center;
}
.hero-title-web {
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.item {
  display: block;
}

.item-link {
  text-decoration: none;
  padding: 24px 0;
  color: #2e2f42;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.item-link:hover,
.item-link:focus {
  color: #404bbf;
}

.contactu {
  padding: 24px 0;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02;

  margin-left: auto;
}

.con-item {
  letter-spacing: 0.02em;
  color: #434455;
}
.con-item:hover,
.con-item:focus {
  color: #404bbf;
}

.add {text-decoration: none;
  color: #434455;
}
.add:hover,
.add:focus {
  color: #404bbf;
}
/*section*/
.section {
  padding: 120px 0;
}
.sec {width: 1440px;
  margin-right: auto;
  margin-left: auto;
  background-image: linear-gradient( rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office\ 1.jpg);
  padding: 188px 0;
  background-color: #2e2f42;
}

.main-title {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
  max-width: 496px;
  text-align: center;
  font-weight: 500;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #fff;
}

.btn-order-service {
  border-radius: 4px;
  border: none;
  margin-left: auto;
  margin-right: auto;
  margin-top: 48px;
  min-width: 169px;
  height: 56px;
  display: block;
  text-align: center;
  gap: 10px;
  line-height: 1.5;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  color: #ffffff;
}
.btn-order-service:hover,
.btn-order-service:focus {
  background-color: #404bbf;
}
/*section2 */
.sec-futures {
  padding-top: 120px;
  padding-bottom: 120px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.fut-list {
  align-items: center;
  display: flex;
  gap: 24px;
}
.fut-item {
  
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 8px;
  width: calc((100% - 72px) / 4);
}
.title {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.container-team {
  padding: 32px 0;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
}
/*section 3*/
.sec-our {
  padding: 120px 0;
  background-color: #f4f4fd;
}

.title-our {
  align-items: center;
  margin-bottom: 72px;
  text-transform: capitalize;
  text-align: center;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.team-list {
  display: flex;
  gap: 24px;
}

.item-our {
  align-items: center;
  justify-content: center;
  flex-direction: column;

  border-radius: 0 0 4px 4px;

  background-color: #ffffff;
  width: calc((100% - 72px) / 4);
}

.title-person {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  font-weight: 500;
  margin-bottom: 8px;
  font-size: 20px;
  line-height: 1.2;
  color: #2e2f42;
  letter-spacing: 0.02em;
}
.title-our-portfolio {
  text-align: center;
  margin-bottom: 72px;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}
img {
  display: block;
}

.our-text {
  text-align: center;
  
  letter-spacing: 0.02em;
  color: #434455;
  line-height: 1.5;
}

.sec-our-portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
  line-height: 1.11;

  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
.container-portfolio {
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  padding: 32px 16px;
  width: 360px;
  height: 120px;
}

.title-our-portfolio {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
}

.title-portfolio {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.text-portfolio {
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-size: 16px;
  color: #434455;
}

.sec-footer {
  padding: 100px 0;
  background-color: #2e2f42;
}
.hero-title {
  display: inline-block;
  margin-bottom: 16px;
}
.footer-text {
  max-width: 264px;
  color: #f4f4fd;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
footer .span-logo {
  color: #f4f4fd;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
